body{
    margin: 0;
    padding: 0;
}

.topbar-container{
    background-color: black;
}

.topbar{
    background-color: black;
    width: 85%;
    margin: 0 auto;
    height: 95px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head{
    margin-top: 10px;
    margin-left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.face{
    margin-left: 20px;
}


.head a{
    margin-left: 10px;   
    text-decoration: none;
    margin-top: -5px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding-right: 130px;
}

.head a:hover{
    border-bottom: 5px solid blue;
}

#topbar-section{
    border-right: 1px solid grey;
    height: 30px;
}

.nav-li{
    display: flex;
    padding:  5px 35px;
    gap: 45px;
}

.nav-li li{
    list-style: none;
}

.nav-li a{
    margin-top: -5px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.nav-li li:hover:first-child{
    border-bottom: 5px solid white;
}
.nav-li li:hover:nth-child(2){
    border-bottom: 5px solid rgb(184, 0, 0);
}
.nav-li li:hover:nth-child(3){
    border-bottom: 5px solid rgba(255, 255, 0, 0.864);
}
.nav-li li:hover:nth-child(4){
    border-bottom: 5px solid #0052A1;
}
.nav-li li:hover:nth-child(5){
    border-bottom: 5px solid #0052A1;
}
.nav-li li:hover:nth-child(6){
    border-bottom: 5px solid #589E50;
}
.nav-li li:hover:nth-child(7){
    border-bottom: 5px solid #002856;
}
.nav-li li:hover:nth-child(8){
    border-bottom: 5px solid #482878;
}


.dot{
    cursor: pointer;
    padding-top: 5px;
    height: 15px;
    width: 30px;
}

.search{
    margin-left: 20px;
    position: relative;
    align-items: center;
    display: flex;
}

.icons{
    color: white;
    position:absolute;
    font-size: 2rem;
    padding-left: 10px;
    background-color: #202224;
    padding-right: 5px;
}

input{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
    background-color: #202224;
    padding: 20px;
    padding-left: 50px;
    width: 250px;
    border: none;
    outline: none;
    align-items: center;
}

input::placeholder{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20PX;
}

.under{
    cursor: pointer;
    background-color: rgb(230, 232, 234);
    margin: 0;
}

.advertisement{
    background-color: rgb(233, 235, 236);
    margin: auto;
    width: 60%;
    height: 25vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.advertisement img{
    width: 100%;
    height: 70%;
}

.details{
    cursor: pointer;
    color: rgb(71, 70, 70);
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 180px;
    margin-left: -40px;
}

.welcome{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome h1{
    color: rgb(93, 91, 91);
}

.welcome h3{
    color: gray;
    font-size: 2rem;
    font-weight: 400;
}

.first-section{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serify;
    max-width: 80%;
    margin: auto;
    display: flex;
}

.semi-first-section1{
    max-width: 50%;
}

.semi-first-section2{
    max-width: 75%;
    padding-left: 20px;
}

.template-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.template{
    max-width: 46%;
}

.template img{
    width: 25rem;
}

.semi-info{
    color: rgb(93, 91, 91);
    font-weight: bold;
    border-left: 3px solid red;
    padding-left: 10px;
}

.news{
    max-width: 80%;
    margin: auto;
    margin-top: 5rem;
    color: rgb(71, 70, 70);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.new{
    border-left: 6px solid red;
    padding-left: 10px;
}

.second-section{
    max-width: 80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.semi-second-section1{
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.template1{
    max-width: 32%;
}

.template-header{
    font-weight: 700;
    font-size: 25px;
    width: 89%;
}

.info{
    color: rgb(71, 70, 70);
    font-weight: 500;
    font-size: 22px;
    width: 99%;
}

.semi-second-section2{
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
}

.semi-info1{
    color: rgb(93, 91, 91);
    font-weight: bold;
    border-left: 4px solid red;
    padding-left: 10px;
    margin-top: 5rem;
}

.semi-info2{
    color: rgb(93, 91, 91);
    font-weight: bold;
    border-left: 4px solid red;
    padding-left: 10px;
    margin-top: 3rem;
}
.semi-info3{
    color: rgb(93, 91, 91);
    font-weight: bold;
    border-left: 5px solid yellow;
    padding-left: 10px;
    margin-top: 6rem;
}
.semi-info4{
    color: rgb(93, 91, 91);
    font-weight: bold;
    border-left: 5px solid yellow;
    padding-left: 10px;
    margin-top: 2rem;
}
.semi-info5{
    color: rgb(93, 91, 91);
    font-weight: bold;
    border-left: 5px solid yellow;
    padding-left: 10px;
    margin-top: 10rem;
}

.semi-second-section3{
    background-color: rgba(179, 174, 174, 0.659);
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.advertisement1{
    text-align: end;
    padding: 15px;
}
.advertisement1 img{
    height: 57rem;
}

.image1{
    cursor: pointer;
    width: 126.6rem;
    margin-top: 6rem;
}

.third-section{
    max-width: 80%;
    margin: auto;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5rem;
    gap: 5rem;
}

.third-header{
    font-weight: 700;
    font-size: 29px;
    color: rgb(93, 91, 91);
}

.semi-info6{
    color: rgb(93, 91, 91);
    font-weight: bold;
    border-left: 3px solid red;
    padding-left: 12px;
    margin-left: 12px;
    margin-top: 7px;
}

.third-sub-header{
    background-color: rgba(179, 174, 174, 0.659);
    max-width: 100%;
}
.third-sub-header2{
    background-color: rgba(179, 174, 174, 0.659);
    max-width: 100%;
}

.third-sub-header1{
    font-weight: 700;
    font-size: 27px;
    padding-left: 15px;
    margin-top: 10px;
}
.third-sub-header3{
    font-weight: 700;
    font-size: 27px;
    padding-left: 15px;
    margin-top: 10px;
}

.semi-third-section3{
    width: 45rem;
    height: 25rem;
    background-color: rgb(218, 215, 215);
    margin-top: 37px;
}
.advertisement2{
    display: flex;
    justify-content: end;
}
.advertisement2 img{
    height: 23rem;
    width: 25rem;
    margin-top: 20px;
    margin-right: -6rem;
}

.fourth-section{
    max-width: 100%;
    margin-top: 5rem;
    background-color: rgb(218, 215, 215);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.under-fourth-section{
    max-width: 80%;
    margin: auto;
    display: flex;
    padding: 30px;
    gap: 25px;
}

.fourth-header{
    font-weight: 700;
    font-size: 29px;
    color: rgb(71, 70, 70);
}

.semi-fourth-section1 img{
    width: 50rem;
}

.fifth-section{
    max-width: 80%;
    margin: auto;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.semi-fifth-section{
    display: flex;
    max-width: 30%;
    gap: 2.5rem;
}

.semi-template-header{
    font-weight: bold;
    font-size: 25px;
}

.semi-template-info{
    color: rgb(71, 70, 70);
    font-size: 20px;
    font-weight: 500;
}

.semi-info7{
    color: rgb(93, 91, 91);
    font-weight: 600;
    border-left: 3px solid red;
    padding-left: 12px;
}
.semi-info8{
    color: rgb(93, 91, 91);
    font-weight: 600;
    border-left: 3px solid red;
    padding-left: 12px;
    margin-top: 2.9rem;
}

hr{
    margin-top: 5rem;
}

.new1{
    border-left: 5px solid blue;
    padding-left: 10px;
    cursor: pointer;
}

.sixth-section{
    max-width: 80%;
    margin: auto;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.semi-sixth-section1 img{
    width: 49.8rem;
}

.wp2{
    margin-left: 22px;
}

.semi-sixth-section2{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.semi-sixth-section2 img{
    width: 32.7rem;
}

.sixth-template-header{
    font-weight: bold;
    font-size: 26px;
    padding: 10px;
}

.semi-info9{
    color: rgb(93, 91, 91);
    font-weight: 500;
    font-size: 20px;
    border-left: 4px solid blue;
    padding-left: 10px;
    margin-top: 1.5rem; 
    margin-left: 15px;
    padding-bottom: 5px;
}
.semi-info9a{
    color: rgb(93, 91, 91);
    font-weight: 500;
    font-size: 20px;
    border-left: 4px solid blue;
    padding-left: 10px;
    margin-top: 3.8rem; 
    margin-left: 15px;
    padding-bottom: 5px;
}

.links-section img{
    width: 126.6rem;
    margin-top: 5rem;
    cursor: pointer;
}

.footer{
    margin-top: -1.7rem;
    cursor: pointer;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4c4c4c;
    color: white;
}

.heading{
    max-width: 80%;
    margin: auto;
    font-size: 125%;
}

.heading h1{
    padding-top: 15px;
}

.tags{
    max-width: 80%;
    margin: auto;
    display: flex;
    gap: 10rem;
}

.tags1{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(165, 162, 162);
}

.tags1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.tags1a{
    border: none;
    margin-left: -20px;
}

.tags1 a:hover{
    border-bottom: 3px solid white;
    
}

.footer-hr{
    max-width: 80%;
    margin-top: 15px;
}

.tags2{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tags2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 4px;
}

.tags2 a:hover{
    border-bottom: 3px solid white;
}

.last-footer{
    max-width: 80%;
    margin: auto;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 18px;
}

.last-text1{
    font-weight: 400;
}

.last-footer .copyright{
    font-size: 16px;
}

.last-footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.last-footer a:hover{
    border-bottom: 3px solid white;
}